<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>vue ajax</title>
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer type="module" src="js/main.js"></script>
</head>

<body>
  <h1>Movie Database</h1>
    <div class="grid-con" id="app">

      <div class="col-span-full" id="description">
        <h2>Top Grossing Movies</h2>
        <p>Explore the most epic blockbusters of all time.</p>
        <p>Click on a movie to find out more about it.</p>
      </div>

      <div class="col-span-full m-col-start-1 m-col-end-7">

        <div v-if="loadingMovies">
          <div class="loader"></div>
        </div>
    
        <ul id="movie-list">
          <li v-for="movie in moviesData" :key="movie.id">
            <a href="#movie" @click="getMovie(movie.id)">
              {{ movie.title }}
            </a>
          </li>
        </ul>
      </div>
    

        <div class="col-span-full m-col-start-7 m-col-end-13" id="movieInfoCon">

            <div v-if="loading">
                <div class="loader"></div>
            </div>
    
            <div v-if="error">{{ error }}</div>

            <div v-if="title" id="info-box" :key="title">
                <img :src="`images/${poster}`" alt="movie poster">
                <p><span class="title bold">Director</span><br>{{ director }}</p>
                <p><span class="title bold">Description</span><br>{{ short_description }}</p>
            </div>
        </div>
    </div>
</body>
    

</html>